services:
  snpcaster:
    container_name: snpcaster-0.9.6
    image: snpcaster:0.9.6
    build:
      context: app
      dockerfile: Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY:-}
        - HTTPS_PROXY=${HTTPS_PROXY:-}
        - APT_PIPELINING=${APT_PIPELINING:-}
        - APT_NO_CACHE=${APT_NO_CACHE:-1}
    init: true
    ports:
      - "59829:8888"
    restart: always
    volumes:
      - ./project:/home/snpcaster/notebook/project
    command: jupyter-lab --allow-root --ip=* --port=8888 --no-browser --NotebookApp.token='' --notebook-dir=/home/snpcaster/notebook
